@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+SK:wght@100..400&display=swap');


html {
    height: 100%;
    width: 100%;
    background-color: #111;
  }

  .header {
    padding:5px;
    color: #ffffff;
    font-family: "Playwrite SK", cursive;
    /*font-family: "Playfair Display", serif;*/
    font-size: larger;
    text-align: center;
    background-image: linear-gradient(to right,rgb(0, 0, 0) , rgb(81, 81, 80));
    
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131313;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #7d7878;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition:left .5s;
    padding: 16px;
    font-family: "Cabin", sans-serif;
  }


body {
  color: #ffffff;
  }

  .container{
    width:100%;
    height: 100vh;
    overflow-y: scroll;
  }

 .images img{
  width: 1000px;
  height: 800px;
  text-align: center;
  image-orientation: center;
 }
 .images h3{
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  background-color: #e4e1a5;
  padding: 5px;
  color: rgb(24, 24, 24);
 }
  .images p{
  font-family: "Cabin", sans-serif;
  text-align: center;
 }
 .h3:hover {
  background-color: #444;
 }
 .seoul img{
  height: 600px;
  border: #675151;
  border-style: dashed;
 }

 .paris img{
  height: 800px;
  border: #e4e1a5;
  border-style: dashed;
 }

.london img{
  width: 1000px;
  border-color: #ffffff;
  border-style: double;
}
 


  
